.FavoritePage_title {
  font-size: 50px;
  text-align: center;
  margin: 50px 0;
}

@media screen and (max-width: 768px) {
  .FavoritePage_title {
    width: 80%;
    font-size: 25px;
    margin: 20px auto;
  }
}