.Toolbar {
  padding: 26px 0;
  color: #fff;
  background-color: #000;
}

.Toolbar_header {
  display: flex;
  justify-content: space-between;
}

.Toolbar_logo_wrapper {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}

.Toolbar_navigation_list {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.Toolbar_navigation_item {
  position: relative;
  padding-left: 25px;
}

.Toolbar_navigation_item::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 20px;
}
.favorite {
  background-image: url("../../assets/img/favorite.svg");
  background-repeat: no-repeat;
  background-size: 20px;
}

.search {
  background-image: url("../../assets/img/search.svg");
  background-repeat: no-repeat;
  background-size: 20px;
}

.history {
  background-image: url("../../assets/img/history.svg");
  background-repeat: no-repeat;
  background-size: 20px;
}

.Navlink {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

.Navlink_active::after {
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  background-color: #fff;
  width: 50%;
  height: 3px;
}
