.Toolbar {
  padding: 26px 0;
  color: #fff;
  background-color: #000;
}

.Toolbar_header {
  display: flex;
  justify-content: space-between;
}

.Toolbar_logo {
  width: 15%;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
}

.Toolbar_logo img {
  margin-right: 10px;
}

.Toolbar_navigation_list {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}


.Toolbar_navlink {
  display: inline-block;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  position: relative;
}

.Toolbar_navlink_icon {
  display: inline-block;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 50% 50%;
  vertical-align: middle;
}

.favorite {
  background-image: url("../../assets/img/favorite.svg");
}

.search {
  background-image: url("../../assets/img/search.svg");
}

.history {
  background-image: url("../../assets/img/history.svg");
}

.Toolbar_navlink_active::after {
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  background-color: #fff;
  width: 50%;
  height: 3px;
}

@media screen and (max-width: 1140px) {
  .Toolbar {
    padding: 25px 15px;
  }
}

@media screen and (max-width: 992px) {
  .Toolbar_logo_text {
    display: none;
  }

  .Toolbar_navlink_text {
    display: none;
  }

  .Toolbar_navlink_icon {
    margin-right: 0;
  }

  .Toolbar_navlink_active:after {
    width: 100%;
  }
}
