.Header {
  background-color: #000;
  padding: 20px 0;
  color: #fff;
}

.Header_input_wrapper {
  text-align: center;
  margin-bottom: 30px;
}

.Header_input {
  border: none;
  background-color: #000;
  outline: none;
  color: #fff;
  width: 50%;
  font-size: 72px;
  text-align: center;
}

.Header_line {
  width: 100%;
  height: 1px;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 1) 40%,
    rgba(255, 255, 255, 1) 60%,
    rgba(0, 0, 0, 1) 100%
  );
}

.Header_collections {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  text-transform: capitalize;
}
