.HeaderList {
  display: flex;
  font-size: 14px;
  line-height: 1.5em;
  color: #fff;
  text-transform: capitalize;
}

.HeaderList_item {
  display: inline-block;
  margin-right: 10px;
}

.HeaderList_item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 1140px) {
  .HeaderList {
    padding: 0 15px;
  }
}