.Collection {
  padding: 80px 0;
}

.Collection_wrapper {
  column-count: 3;
}

.Collection_no_result {
  text-align: center;
  font-size: 30px;
  margin: 120px 0;
}

@media screen and (max-width: 768px) {
  .Collection {
    padding: 30px 10px;
  }

  .Collection_wrapper {
    column-count: 2;
  }
}

@media screen and (max-width: 576px) {
  .Collection_wrapper {
    column-count: 1;
  }
}
